<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediciones de {{ pais|capitalize }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Mercosur</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mediciones">Mediciones</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Mediciones de {{ pais|capitalize }}</h4>
                </div>
                <div class="card-body">
                    <form method="POST" action="/mediciones/{{ pais }}">
                        <div class="form-group">
                            <label for="fechaBusqueda">Buscar por Fecha:</label>
                            <div class="input-group">
                                <input type="date" id="fechaBusqueda" name="fechaBusqueda" class="form-control">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <th>ID Medición</th>
                                <th>Temperatura</th>
                                <th>Humedad</th>
                                <th>Fecha</th>
                                <th>Velocidad del Viento</th>
                            </tr>
                        </thead>
                        <tbody id="mediciones-table-body">
                            {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact[0] }}</td>
                                    <td>{{ contact[2] }}</td>
                                    <td>{{ contact[3] }}</td>
                                    <td>{{ contact
